.input-wrapper {
	display: flex;
	flex-wrap: nowrap;
}

.placeholder {
	margin-right: 5px;
	min-width: fit-content;
}

.input {
	background: transparent;
	border: none;
	outline: none;
	width: 100%;
	color: transparent;
	text-shadow: 0 0 0 var(--primary-color);

	&:focus {
		outline: none;
	}
}
